.ipynb_checkpoints
Demo/
*.json
*.weights
*.h5
testing.py
.ipynb_checkpoints/
*.pb
*.pbtxt
*.ckpt.index
*.ckpt.meta
*ckpt.data-00000-of-00001
*.config
checkpoint

**/__pycache__/
**/logs/
**/saved_model/
**/model_data/


